
.hu {
    font-size: 18px;
    margin: 0 auto;
    width: 1000px;
    margin-top: 0px;
}

.hu a {
    color:black;
    justify-content: flex-end;
    text-decoration: none;
    margin-left: 1505px;
}
.logo{
    color:black;
    padding-right: 100px;
}
.nav ul{
    list-style: none;
    padding:50px;
    margin-right: 200px;
}
.nav li{
    margin-left: 40px;
    font-size: 18px;
    position:relative;
}
.nav li a{
    color:black;
}
.active{
    border-bottom :2px solid black;
}
.nav li:hover{
    border-bottom :2px solid black;
}
.right-menu {
    flex-wrap: wrap;
    justify-content: flex-end;
    vertical-align: middle;
    display:flex;
    margin-right:0px;
    margin-top: -90px;
}
.right-menu a{
    color:black;
    text-decoration: none;
    font-size:18px;
    margin-right:20px;
}
.noti{
    margin-left: 12px;
}
.person{
    margin-left: 12px;
}
.menu{
    margin-left: 12px;
}
.cart{
    margin-left: 12px;
}
.header{
    width:100%;
    background-color:yellow;
    padding: 24px 0;
    margin:56px;
    margin-left: -10px;
    position: absolute;
    z-index: 1000px;
    display: inline-block;
    vertical-align: middle;
}
.container-fluid{
    width:100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.container-lg {
    width: 1311px;
    margin: 0 auto;
}
.row {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.wraper {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    width:150px;
}
.sub-menu {
    background-color: rgba(211, 207, 207, 0.536);
    position: absolute;
    left: 0;
    width: 70px;
    text-align: left !important;
    padding: 13px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.7s;
}
.nav li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
.sub-menu li {
    margin: 0;
    display: block !important;
}
.sub-menu li a {
    display: block;
}

.main {
    background-color:white;
}
.banner {
    height: 100vh;
    overflow: hidden;
}
.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background-color: rgb(82, 78, 78);
    padding: 30px;
    padding-top: 12px;
    text-align: center;
    opacity: 0.6;
    margin-top: -2800px;
}
.learn {
    padding: 8px 32px;
    text-decoration: none;
    color:black;
    background-color:aliceblue;
}
.content p {
    margin: 24px 0;
    font-size: 18px;
}.box-1{
    height:300px;
    background-color:white;
    color:black;
    text-align: center;
    padding:80px;
    margin:100px;
}
.box-1 h1{
    font-size: 40px;
}
.box-1 p{
    margin:24px 0;
    font-size: 19px;
}
.feature{
    overflow:hidden;
    visibility: visible;
}

.box{
    width:300px;
    height:200px;
}

.feature img{
    overflow:hidden;
    display:block;
    vertical-align: middle;
    width:400px;
    height:500px;
    border-radius: 20px;
    margin:50px;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.nen{
    display:flex;
}
.noi-dung{
    background-color:rgb(252, 205, 65);
    width:600px;
    height:350px;
    margin:10px;
    margin-top: 20px;
    padding:20px;
}
.noi-dung p{
    font-size: 19px;
    padding:20px;
}
.noi-dung a{
    font-size: 22px;
    color:black;
    background-color: white;
    padding:20px;
    margin: 200px;
}

.anh img{
    width:600px;
    overflow:hidden;
    position:absolute;
    
}
.card{
    width:600px;
    height:500px;
    position:relative;
    display:inline-block;
    vertical-align: top;
    
}
.border{
    width:300px;
    height:400px;
    border: 10px solid rgb(252, 205, 65);
    margin-left: 700px;
    
    
}
.anh{
    width:200px;
    height:200px;
    position:absolute;
    display:inline-block;
    
}
.nen-2{
    display:flex;
    
}
.hhhh{
    margin-top: 100px;
    margin-right: 50px;
    width:600px;
    height:300px;
}
.hhhh h1{
    font-size: 50px;
    color:rgb(252, 205, 65)
}
.hhhh p{
    font-size: 20px;
    margin-bottom: 40px;
}
.hhhh a{
    font-size: 20px;
    color:black;
    background-color:rgb(252, 205, 65);
    padding:10px;
    

}
.hr{
    width:500px;
    margin-left: 560px;
    margin-bottom: 50px;
    
}
.hr-2{
    width:500px;
    margin-left: 560px;
}

}
.aaa{
    width:390px;
    height:500px;
}
.nen-3{
    display:flex;
}
.nen-3 p{
    font-size: 20px;
    margin:40px;
    margin-top:160px;
    margin-left:150px;
    background-color: rgb(252, 205, 65);
    height:160px;
    padding:30px;
}

.aaa h1{
    font-size: 23px;
    text-align: center;
    background-color: rgb(164, 161, 155);
    width:150px;
    padding:10px;
    margin-left: 110px;
}
.aaa img{
    width:400px;
}
.section-5{
    margin-top: 100px;
    
}
.aaaa{
    width:390px;
    height:500px;
}
.aaaa h1{
    font-size: 23px;
    text-align: center;
    background-color: rgb(164, 161, 155);
    width:150px;
    padding:10px;
    margin-left: 110px;
}
.aaaa img{
    width:400px;
}
.section-6{
    margin-top: 100px;
}
.section-7{
    margin-top: 100px;
}
.section-8{
    margin-top: 100px;
}
.nen-4{
    text-align: center;
    font-size: 23px;
    color:goldenrod;
    margin-bottom: 60px;
}
.col-6 h2{
    text-align: center;
    font-size: 25px;
    color:goldenrod;
}
.col-6 p{
    text-align: center;
    font-size: 20px;
     
}
.section-9 .bg{
    background-image: url("../img/23ff52a88a2a5419f5287d066ee1938c.jpg");
    background-size:cover ;
    height:700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg .bb{
    width:400px;
    height:200px;
    padding:50px;
    color:black;
    padding-top: 60px;
    display:block;
    vertical-align:middle;
    float:right;
    margin:80px;
    margin-top: 200px;
    margin-right: 520px;
    text-align: center;
    font-size: 16px;
    
 /* From https://css.glass */
 background: rgba(255, 255, 255, 0.2);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.3);
}
.bb h2{
    background-color: grey;
    width:150px;
    margin-left: 120px;
    margin-top: 0px;
}
.footer{
    margin-top: 100px;
    
   
}
.about{
    width:20%;
    display:inline-block;
    vertical-align: middle;
}
.about img{
    width:200px;
}
.about h1{
    margin-bottom: 16px;
    color:black;
}
.about p{
    color:black;
    font-size: 20px;
}
.quick-menu{
    width: 15%;
    display:inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin:30px;
    margin-top: 10px;
}
.quick-menu ul{
    list-style: none;
}
.quick-menu li{
    margin:20px 0;
    font-size: 16px;
   
}
.quick-menu li a{
    color: black;
    text-decoration: none;
}

.bieu-tuong {
    flex-wrap: wrap;
    justify-content: flex-end;
    vertical-align: middle;
    display:flex;
    margin-left:50px;
    margin-top: -60px;
}
.bieu-tuong a{
    color:black;
    text-decoration: none;
    font-size:22px;
    margin-right:20px;
}
.fb{
    margin-left: 12px;
}
.tw{
    margin-left: 12px;
}
.tt{
    margin-left: 12px;
}
.gg{
    margin-left: 12px;
}

.box{
    height:50px;
    background-color:white;
    margin:50px;
    padding:10px;
}
.section-4{
    background-color: goldenrod;
    width:100%;
    height:500px;
}
.box p{
    font-size: 20px;
    text-align: center;
    margin: 6px;
    color:black;
}






